<?xml version="1.0" encoding="utf-8"?>
<packages>    
    <!-- cinst path_to_this_file -->
    <package id="boxstarter.chocolatey" />
    <package id="chocolatey" />
    <package id="NuGet.CommandLine" />
    <package id="NugetPackageManager" />    
    <package id="git.install" />
    <package id="git-credential-winstore" />    
    <package id="poshgit" />
    <package id="beyondcompare" />   
    <package id="SourceTree" /> 
    <package id="GoogleChrome" />
    <package id="Evernote5" />
    <package id="7zip.install" />
    <package id="sublimetext2" />
    <package id="dropbox" />
    <package id="curl" />
    <package id="roundhouse" />
    <package id="papercut" />
    <package id="fiddler" />
    <package id="pester" />
    <package id="windirstat" />
    <package id="curl" />
    <package id="mRemoteNG" />    
    <package id="lockhunter" />
    <package id="sysinternals" />
    <!--<package id="powertab" /> causing issues with poshgit. exclude for now -->
</packages>